<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fazhengyun">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
             />
        <activity
            android:name=".ui.activity.RegisterActivity"
             />
        <activity
            android:name=".ui.activity.WebActivity"
            android:label="WebView" />

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name=".receiver.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.GuideActivity"/>
        <activity android:name=".ui.activity.PhotoActivity"/>
        <activity android:name=".ui.activity.VideoActivity"/>
        <activity android:name=".ui.activity.AudioActivity"/>
        <activity android:name=".ui.activity.FileUploadActivity"/>
        <activity android:name=".ui.activity.UserInfoActivity"/>
        <activity android:name=".ui.activity.SettingActivity"/>
        <activity android:name=".ui.activity.CardActivity"/>
        <activity android:name=".ui.activity.MessageActivity"/>
        <activity android:name=".ui.activity.HelpActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.ChangePasswordActivity" />
        <activity android:name=".ui.activity.FindPasswordActivity" />
        <activity android:name=".ui.activity.ChangePhoneActivity" />
        <activity android:name=".ui.activity.ChangeUserNameActivity" />
        <activity android:name=".ui.activity.VideoPlayActivity" />
        <activity android:name=".ui.activity.DangerInformationActivity" />
        <activity android:name=".ui.activity.AssestListActivity" />
        <activity android:name=".ui.activity.LocationMapActivity" />
        <activity android:name=".ui.activity.LookSwitchActivity" />
        <activity android:name=".ui.activity.CallActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.fazhengyun.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".service.DownloadService"/>
        <service android:name=".service.MusicService"/>
        <service android:name=".service.CallStateService"/>
        <receiver android:name=".receiver.CallReceive">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dbIONVaYSgvlp9y2SIetYmC4U2WRN4Vr" />
    </application>

</manifest>